* {
    margin: 0 auto;
}
.container {
    width: 950px;
    background-color: lightgray;
    padding: 25px;
}
.top_text {
    color: rgb(26, 22, 22);
    text-align: center;
    margin-bottom: 20px;
    font-size: large;
    font-weight: bold;
}
.section {
    height: 250px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    /* justify-content doesn't have effect when wild card is used. */
    justify-content: space-evenly;
}
.plum {
    background-color: plum;
}
.pink {
    background-color: pink;
}
.aquamarine {
    background-color: aquamarine;
}
img {
    height: 150px;
}
.bottom_text {
    text-align: center;
    margin-top: 25px;
}