* {
    margin: 0px auto;
}
.container {
    width: 950px;
    background-color: lightgray;
    padding: 20px;
}
.top_text {
    color: rgb(26, 22, 22);
    text-align: center;
    margin-bottom: 20px;
    font-size: large;
    font-weight: bold;
}
.top_section {
    height: 250px;
    background-color: rgb(125, 56, 215);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.middle_section {
    height: 250px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.bottom_section {
    height: 250px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.bottom_text {
    text-align: center;
    margin-top: 20px;
}
img {
    height: 150px;
}